* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #223;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    height: 60px;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9b793c;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(112, 102, 42);
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover>ul {
    display: block;
}

.title {
    padding: 20px;
}