* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: #223;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  height: 60px;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9b793c;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(112, 102, 42);
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover>ul {
  display: block;
}

.container {
  width: 100%;
  height: 100vh;
  background: #223;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slidechat {
  display: none;
  padding: 80px;
  text-align: center;
}

.swiper {
  width: 80%;
  height: fit-content;
  object-fit: cover;
  text-align: center;
  position: relative;
}

.swiper-slide img {
  width: 80%;
}

.swiper-slide {
  position: relative;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

.main {
  display: inline-block;
}

.cards {
  width: 20%;
  display: inline-block;
  background-color: grey;
  border-radius: 5px;
  margin: 40px;
  box-shadow: 2px 2px 10px black;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 5px;
}

.des {
  text-align: center;
  padding: 4px;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}